@import "reset.scss";

$margin-sides: 25px;
$color-dark-grey: rgb(35, 35, 35);
$color-light-grey: rgb(78, 78, 78);
$color-blue: rgb(0, 169, 224);
$color-dark-blue: rgb(0, 99, 140);

/* ------ MIXINS ------- */

@mixin breakpoint($point) {
    @if $point == TABLET {
        @media only screen and (max-width: 768px) { @content; }
    }
    @else if $point == MOBILE {
        @media only screen and (max-width: 600px) { @content; }
    }
    @else if $point == MOBILE_LANDSCAPE {
        @media only screen and (max-width: 600px) and (orientation:landscape) { @content; }
    }
}

/* ------ UTILS ------- */

%clearfix {
    zoom: 1;
    &:before{
        content: "\0020"; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;
    }
    &:after{
        content: "\0020"; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; clear: both;
    }
}

/* ------ CSS ------- */

// Box size all the things!
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family:Verdana, Sans-Serif; }
button { padding:4px 25px; background:$color-blue; border:0; border-radius:5px; color:#fff; }
h1 { margin:0 0 5px 0; font-size:18px; color:$color-dark-blue; }
p { margin:0 0 5px 0; font-size:10px; color:$color-dark-blue; }

header { 
    width:100%; position:relative; padding:20px $margin-sides 16px; background:#fff; z-index:10;
    h1, p { max-width:50%; }
    img { position:absolute; right:$margin-sides; top:16px; } 
}

section.game{
    width:100%; padding:40px 0; background: $color-dark-grey; position:relative;
    .grid {
        width:40%; height:0; padding-top:40%; margin:0 auto; background:url("../images/grid.svg") no-repeat; background-size:100%;
        @extend %clearfix;
        .boxes { margin-top:-100%; }
        .box {
            width:30%; padding-top:30%; margin:1.65%; float:left; opacity:0.75; cursor:pointer;
            &.x { background:url("../images/x.svg") center no-repeat; background-size:80%; }
            &.o {
                background:url("../images/o.svg") center no-repeat; background-size:80%;
                &.winner { background-image:url("../images/o_win.svg"); }
            }
        }
    }
    .prompt {
        display:none; width:70%; margin:-10px 0 0 -35%; position:absolute; top:-150px; left:50%; background-color: $color-light-grey; 
        border-radius:5px; color:#fff; text-align:center; box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.25); opacity:0.95;
        border:3px solid $color-dark-blue; z-index:5;
        .padding-wrapper { padding:12px; }
        h1, p { color:#fff; }
    }
}

footer {
    width:100%; position:relative; padding:16px $margin-sides;
    p { max-width:50%; }
    button { position:absolute; top:16px; right:$margin-sides; }
}